<h3 class="m-0 m-0">
  {{ name }}
</h3>
<div class="p-1">
  <img class="svg" style="width: 60px;" [src]="imagePath" />
</div>
<div class="p-1 d-flex justify-content-center">
  <div class="p-1 border-white">{{ type }}</div>
</div>
<div>
  <p (click)="toggleShow()" [class.show-more]="!showMore && desc.length > 200">
    {{ desc }}
  </p>
  <p
    (click)="toggleShow()"
    *ngIf="desc.length > 200"
    style="text-decoration: underline; cursor: pointer;"
  >
    {{ !showMore ? "Show More" : "Show Less" }}
  </p>
</div>
