<div
  class="p-2 text-center text-white rounded-border border-white bg-md-blue"
  style="height: 100%;"
>
  <h3>
    {{ ability.name }}
  </h3>
  <div class="p-2">
    <img class="svg" style="width: 75px;" [src]="ability.imagePath" />
  </div>
  <div class="p-2">
    <p
      (click)="toggleShow()"
      [class.show-more]="!showMore && ability.desc.length > 200"
    >
      {{ ability.desc }}
    </p>
    <p
      (click)="toggleShow()"
      *ngIf="ability.desc.length > 200"
      style="text-decoration: underline; cursor: pointer;"
    >
      {{ !showMore ? "Show More" : "Show Less" }}
    </p>
  </div>
</div>
