<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <a class="navbar-brand" href="/">Crucible Skills</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/cooler09/crucible-skills/issues"
          target="_blank"
          >See an Issue?</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://www.patreon.com/zacharylockhart"
          target="_blank"
          >Help Support Me</a
        >
      </li>
    </ul>
  </div>
</nav>
<div
  *ngIf="!supporter"
  class="container bg-dark-grey d-flex justify-content-center"
>
  <iframe
    src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=twitchprime&banner=025E4WXKK5G4EXYGDD02&f=ifr&lc=pf4&linkID=07c1ca280e08856d6bf50265c646013e&t=cooler090b-20&tracking_id=cooler090b-20"
    width="300"
    height="250"
    scrolling="no"
    border="0"
    marginwidth="0"
    style="border: none;"
    frameborder="0"
  ></iframe>
</div>
<router-outlet></router-outlet>
