<div class="container bg-cream">
  <div class="row p-3 bg-dark">
    <div class="d-flex justify-content-between" style="overflow-x: scroll;">
      <app-characters
        *ngFor="let character of characters"
        [character]="character"
        [isSelected]="character.id === selectedCharacter.id"
        (chrClick)="characterClick($event)"
      ></app-characters>
    </div>
  </div>
  <div class="row text-center text-white bg-dark">
    <div class="col-2 d-none d-sm-block"></div>
    <div class="col-md-8 p-2">
      <h1>{{ selectedCharacter.name }}</h1>
      <div class="d-flex justify-content-center">
        <span class="p-1 text-right" style="flex: 45%;">Health:</span>
        <span class="p-1 text-left" style="flex: 55%;">
          {{ selectedCharacter.health }}
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <span class="p-1 text-right" style="flex: 45%;">Speed:</span>
        <span class="p-1 text-left" style="flex: 55%;">
          {{ selectedCharacter.speed }}
        </span>
      </div>
      <div class="d-flex justify-content-center">
        <span class="p-1 text-right" style="flex: 45%;">Size:</span>
        <span class="p-1 text-left" style="flex: 55%;">
          {{ selectedCharacter.size }}
        </span>
      </div>
    </div>
    <div class="col-md-2 p-2">
      <button
        class="shadow"
        title="Copy sharable url"
        style="background-color: #313e66; color: white;"
        mat-mini-fab
        (click)="displaySnackBar()"
        [cdkCopyToClipboard]="generateUrl()"
        aria-label="Share url"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
  <div class="row p-0 p-sm-2">
    <div
      *ngIf="selectedCharacter.abilities.length === 5"
      class="col-md-1"
    ></div>
    <app-ability-container
      class="col-md-2 p-1"
      *ngFor="let ability of selectedCharacter.abilities"
      [ability]="ability"
      (displayAbility)="displayAbility($event)"
    ></app-ability-container>
  </div>
  <div class="row p-sm-3 p-0">
    <div class="col-md-6 p-0 text-white">
      <app-detailed-view
        [displayedSkill]="displayedSkill"
        [displayedAbility]="displayedAbility"
      ></app-detailed-view>
    </div>
    <div class="col-md-6 bg-md-blue white-border">
      <div class="row text-center text-white bg-dark-blue">
        <div class="col-3 p-3">
          <img
            class="svg"
            style="width: 50px;"
            alt="essence"
            src="/assets/essence.svg"
          />
        </div>
        <div class="col-9 d-flex justify-content-center align-items-center">
          <h3 class="p-2 m-0">ESSENCE UPGRADES</h3>
        </div>
      </div>
      <div class="vl"></div>
      <app-skill-tree
        [selectedSvgCss]="selectedCharacter.selectedSvgCss"
        [selectedCss]="selectedCharacter.selectedCssAlt"
        [skillTree]="selectedCharacter.skillTree"
        (skillSelected)="skillSelected($event)"
        (displaySkill)="displaySkill($event)"
      ></app-skill-tree>
    </div>
  </div>
</div>
